@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root { 
    --toastify-color-dark: #0A0A0A;
    --toastify-color-progress-light: linear-gradient(
      to right,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
    --toastify-color-progress-dark: linear-gradient(
      to right,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
  }

  .divider {
    @apply w-full h-[1px] bg-dark-200 dark:bg-light-300
  }

  * {
    @apply m-0 p-0 box-border
  }

  .default-text {
    @apply text-dark-200 dark:text-light-300
  }

  .error-text {
    @apply !text-red-600
  }

  .default-icon {
    @apply text-dark-200 dark:text-light-300
  }

  body::-webkit-scrollbar {
    @apply w-[10px]
  }

  body::-webkit-scrollbar-track {
      @apply bg-light-300
  }

  body::-webkit-scrollbar-thumb {
      @apply rounded-[100vh] bg-dark-200
  }

  body::-webkit-scrollbar-thumb:hover {
      @apply bg-dark-400
  }

  .dark::-webkit-scrollbar-thumb {
      @apply bg-light-300
  }

  .dark::-webkit-scrollbar-track {
      @apply bg-dark-200
  }

  .dark::-webkit-scrollbar-thumb:hover {
      @apply bg-light-400
  }

  .MuiMenu-root .MuiPaper-root {
      @apply bg-dark-100
  }

  *::-webkit-scrollbar {
      @apply w-[10px]
  }

  *::-webkit-scrollbar-track {
      @apply bg-light-300
  }

  *::-webkit-scrollbar-thumb {
      @apply rounded-[100vh] bg-dark-100
  }

  *::-webkit-scrollbar-thumb:hover {
      @apply bg-dark-400
  }

  *::-webkit-scrollbar-thumb {
      @apply bg-light-300
  }

  *::-webkit-scrollbar-track {
      @apply bg-dark-100
  }

  *::-webkit-scrollbar-thumb:hover {
      @apply bg-light-400
  }
}